{% extends 'layouts/auth/auth.layout.html.twig' %}

{% block title %}
	Connexion
	{{parent()}}
{% endblock %}

{% set type = 'login' %}

{% block logo %}
	<a href="/">
		<b>KRI</b>DAREK
	</a>
{% endblock %}
{% block card %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}
	<p class="login-box-msg">Connectez-vous pour démarrer votre session</p>
	<form action="{{path('app_auth_login')}}" method="POST">
		<div class="input-group mb-3">
			<input value="{{email}}" type="email" name="_email" class="form-control" placeholder="Email">
			<div class="input-group-text">
				<span class="bi bi-envelope"></span>
			</div>
		</div>
		<div class="input-group mb-3">
			<input type="password" name="_password" class="form-control" placeholder="Mot de passe">
			<div class="input-group-text">
				<span class="bi bi-lock-fill"></span>
			</div>
		</div>
		<input
		type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
		<!--begin::Row-->
		<div class="row">
			<div class="col-8">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="_remember_me">
					<label class="form-check-label" for="flexCheckDefault">
						Se souvenir de moi
					</label>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-4">
				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary">Connexion</button>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!--end::Row-->
	</form>
	{# <div class="social-auth-links text-center mb-3 d-grid gap-2">
			<p>- OR -</p>
			<a href="#" class="btn btn-primary">
				<i class="bi bi-facebook me-2"></i>
				Sign in using Facebook
			</a>
			<a href="#" class="btn btn-danger">
				<i class="bi bi-google me-2"></i>
				Sign in using Google+
			</a>
		</div>
		<!-- /.social-auth-links -->
		<p class="mb-1">
			<a href="forgot-password.html">J'ai oublié mon mot de passe</a>
		</p> #}
{% endblock %}
